.atv-avatar img {
    width: 100% !important;
    height: 100% !important;
    max-width: 250px !important; //any size
    max-height: 250px !important;
    position: absolute;
    border-radius: 50%;
}

.game-list {
    background-color: #D2DAE7;
}

#run-button {
    background: #04ACE3;
    text-align: left;
    padding: 3%;
    .atv-header {
        font-size: 10.0em;
    }
}

#walk-button {
    background: #7AC74F;
    padding: 3%;
    text-align: left;
    .atv-header {
        font-size: 10.0em;
    }
}

#climb-button {
    background: #F9DC5C;
    padding: 3%;
    text-align: left;
    .atv-header {
        font-size: 10.0em;
    }
}

#bike-button {
    background: #FF4C50;
    padding: 3%;
    text-align: left;
    .atv-header {
        font-size: 10.0em;
    }
}

#swim-button {
    background: #118AB2;
    padding: 3%;
    text-align: left;
    .atv-header {
        font-size: 10.0em;
    }
}