page-invite-friends {
    .InviteList {
        text-decoration: none;
    }
    .Title {
        font-size: 100px;
        text-align: center;
        color: black;
        ;
    }
    .inv {
        padding-top: 20px;
        text-decoration: none;
    }
    .Next {
        margin-top: 10%;
        margin-left: 48%;
    }
    .titleDiv {
        border-bottom: 5px solid black;
    }
    .accountLink {
        float: right;
    }
    .inv {
        border-bottom: 5px solid black;
    }
}