#act1{
   background:#04ACE3;
   padding: 3%;
   font-size: 10.0em;
   .atv-header {
    font-size: 0.5em;
        display: inline-block;
    }
    .percentage{
    font-size: 0.5em;
        display: inline-block;
    }
}
#act2{
    opacity: .3;
   background:#7AC74F;
   padding: 3%;
   font-size: 10.0em;
   .atv-header {
    font-size: 0.5em;
    display: inline-block;
    };
    .percentage{
    font-size: 0.5em;
        display: inline-block;
    }
}
#act3{
   background:#FF4C50;
   padding: 3%;
   font-size: 10.0em;
   .atv-header {
    font-size: 0.5em;
        display: inline-block;
    }
    
    .percentage{
    font-size: 0.5em;
        display: inline-block;
    }
}
