.title {
    text-align: center;
}

#logo {
    position: relative;
    padding-left: 40%;
}

// #homepage {
//     background-color: #D2DAE7
// }
// .login-info {
//     background-color: #D2DAE7;
// }