#first {
   background:#F9DC5C;
   padding: 3%;
   font-size: 10.0em;
   .ldr-header {
    font-size: .6em;
    display: inline-block;
    }
.name{
    font-size: .6em;
    display: inline-block;
}
}
#second{
   background:#8e8d83;
   padding: 3%;
   font-size: 10.0em;
   .ldr-header {
    font-size: .6em;
    display: inline-block;
    }
.name{
    font-size: .6em;
    display: inline-block;
}
}
#third{
   background:#6d411a;
   padding: 3%;
   font-size: 10.0em;
   .ldr-header {
    font-size: .6em;
    display: inline-block;
    }
.name{
    font-size: .6em;
    display: inline-block;
}
}
